.titulo {
    font-weight: bold;
}

.tabPanel {
    font-variant: small-caps !important;
    color: aliceblue !important;
    background-color: #273f70 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    text-decoration: none !important;
    direction: center !important;
}

.hover:hover {
    transform: scale(1.1) !important;
}