.box {
    background-color: #fffaf2;
}

.title {
    color: black !important;
    font-weight: bold !important
}

posts {
    background-color: white
}

.cursor {
    cursor: pointer;
}

.btnVerPostagens {
    border-color: white !important;
    background-color: white !important;
}

.text-decorator-none {
    text-decoration: none;
}