.box1 {
    background-color: #c30253;
    height: 100px;
}

.box2 {
    background-color: #c30253;
    height: 55px;
}

.redes {
    font-size: 40px !important;
    color: white;
}

.textos {
    color: white;
}

.hover:hover {
    transform: scale(1.5);
}

.text-decorator-none {
    text-decoration: none;
}