.imagem2 {
    background-image: url(https://i.imgur.com/tnxFrha.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2 {
    font-weight: bold !important;
}

.btnCancelar {
    margin-right: 20px !important;
}

.border {
    border: 2px;
}

.formsCadastro {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px !important;
    width: 30vw !important;
}

.fundo {
    background-color: rgba(255, 255, 255, 0.02) !important;
}